{% extends "header.html" %}
{% block content %}

<div>
  <h1 class="page-header">
    About
  </h1>

  <p>
    Group Members: Jahanzeb Hassan, Jyoti Michael D. Rozario, and Vibhor Goel
  </p>

  <p>
    For the final project, we decided to build a web application called JokeHub that allows users to share jokes. Once users are logged into the website, they can create, delete, like, and comment on different jokes. In the user’s feed, there is a section for all of the jokes the user has liked and created. Users are also allowed to search for jokes created on the website. There is also a tab for a list of top jokes scraped from the website <a href="http://www.laughfactory.com/jokes/clean-jokes/">http://www.laughfactory.com/jokes/clean-jokes/</a> to diversify the jokes. Lastly, users have the option to change their username in the profile tab.
  </p>

</div>

{% endblock %}