{% extends "header.html" %}
{% block content %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="content-container joke">
	{% if joke.can_delete %}
		<div class="delete" data-url="{{ url_for('jokes.delete_joke', jokeid=joke.id) }}">
			<i class="fas fa-minus-circle"></i>
		</div>
	{% endif %}

	<div class="header">
		<span class="username"><a href="{{ url_for('users.profile', username=joke.author.username) }}">{{ joke.author.username }}</a></span>
		<span class="date">{{ joke.date_str }}</span>
	</div>

	<div class="content">
		{{ joke.content }}
	</div>

	<div class="footer">
		<div class="icon-container">
			<span class="heart" data-url="{{ url_for('jokes.update_joke_likes', jokeid=joke.id) }}">

				{% if joke.heart_filled_in %}
					<i class="fas fa-heart"></i>
				{% else %}
					<i class="far fa-heart"></i>
				{% endif %}

			</span>
			<span class="num_likes">{{ joke.likes }}</span>
		</div>
	</div>
</div>

<div class="comments-header">
	<h1>Comments</h1>	
</div>


<div class="list-container">

	{% if comments %}
	{% for comment in comments %}

	<div class="content-container comment">
		{% if comment.can_delete %}
			<div class="delete" data-url="{{ url_for('jokes.delete_comment', commentid=comment.id) }}">
				<i class="fas fa-minus-circle"></i>
			</div>
		{% endif %}
		<div class="header">
			<span class="username"><a href="{{ url_for('users.profile', username=comment.author.username) }}">{{ comment.author.username }}</a></span>
			<span class="date">{{ comment.date_str }}</span>
		</div>

		<div class="content">
			{{ comment.content }}
		</div>

		<div class="footer">
			<div class="icon-container">
				<span class="heart" data-url="{{ url_for('jokes.update_comment_likes', commentid=comment.id) }}">

					{% if comment.heart_filled_in %}
						<i class="fas fa-heart"></i>
					{% else %}
						<i class="far fa-heart"></i>
					{% endif %}
				</span>
				<span class="num_likes">{{ comment.likes }}</span>
			</div>
		</div>
	</div>

	{% endfor %}
	{% else %}
		<div class="empty-message">
			There are no comments to show.
		</div>
	{% endif %}

</div>

<div class="form-container">
	<h2 class="header">
    	Create Comment
  	</h2>
	<form method="POST" action="">
		{{ form.csrf_token }}
		<div class="form-group">
	    {{ form.content.label }}
	    {{ form.content(class="form-control") }}

	    {% if form.content.errors %}
	    <div class="alert alert-warning" role="alert">
	    {% for error in form.content.errors %}
	    	<span> {{ error }} </span>
	   	{% endfor %}
	    </div>
	    {% endif %}
	    </div>
	    <div class="form-group">
	    {{ form.submit(class="form-control form-control-lg") }}
	    </div>
	</form>  
</div>

{% endblock %}