{% extends "header.html" %}
{% block content %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<h1 class="page-header">
  Laugh Factory Jokes
</h1>

<p>
	Jokes were scraped from <a href="http://www.laughfactory.com/jokes/clean-jokes/">here</a>.
</p>


  <div class="list-container">
    {% for joke in jokes %}
          
    <div class="content-container joke l-joke">
      <div class="header">
        <span class="username">{{ joke.author }}</span>
      </div>

      <div class="content">
        {{ joke.content }}
      </div>

      <div class="footer">
          <span class="num_likes"><i class="fas fa-thumbs-up"></i>{{ joke.likes }}</span>
          <span class="num_dislikes"><i class="fas fa-thumbs-down"></i>{{ joke.dislikes }}</span>
        </span>
      </div>
    </div>
    {% endfor %}
 </div>

 {% if not last_page %}
 <div class="load-more">
 	<a href="{{ url_for('jokes.laugh_factory_jokes', upper_limit=upper_limit + 1) }}">Load More</a>
 </div>
 {% endif %}

{% endblock %}